<li>
    <div class="col-sm-11 formField" key="{{key}}" style="display: block;">{{label}}

        {{#if author}}
            <h1>{{firstName}} {{lastName}}</h1>
        {{else}}
            <h1>Unknown Author</h1>
        {{/if}}
        <span>
                        <img src="../imgs/EmptyStar.png" style="width:10px;height: 10px;">
                        </span>
        <div class="helpText">
            {{hint}}
        </div>
    </div>
    <div class="col-sm-1 formField" style="text-align: right">
        <div>
            <img src="../imgs/Cross.png" class="crossImage">
        </div>
        <div>
            <img src="../imgs/GridIcon.png" class="dragImage">
        </div>
    </div>
</li>